.custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .custom-checkbox:checked {
    background-color: #2fcb52;
    border-color: #3cc95c;
  }
  
  .custom-checkbox:checked::after {
    content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff' width='24px' height='24px'%3E%3Cpath d='M9 16.2L4.8 12 3.4 13.4 9 19 21 7l-1.4-1.4z'/%3E%3C/svg%3E");
  background-size: cover;
  }
  
  .cover-label {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
  }
  